* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #191919;
}

#globalContainer {
  width: 100%;
  height: 100%;
}

.mar {
  margin: 0 64px;
}

header {
  width: 100%;
  height: 50%;
  max-height: 530px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
}

header #navContainer {
  width: 100%;
  height: 20%;
  max-height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

nav {
  width: 100%;
  max-width: 1192px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 15%;
}

nav #spacing {
  width: 50%;
  height: 100%;
}

nav #navList {
  width: 35%;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navList .navLink {
  font-size: 14px;
}

#navList a {
  text-decoration: none;
  color: #191919;
}

li > button {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

#mainHeader:nth-child(1) {
  width: 50%;
  max-width: 580px;
  height: 100%;
}

#mainHeader {
  width: 100%;
  height: 80%;

  position: relative;
  display: flex;
  justify-content: flex-start;
}

#mainHeader #heroTextContainer {
  width: 60%;
  max-width: 1192px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#heroTextContainer h2 {
  font-size: 6.5em;
  font-weight: bold;
  font-family: "Spectral", serif;
  padding-bottom: 3%;
}

#heroTextContainer p {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto", serif;
  padding-bottom: 3%;
  color: #292929;
}

#heroTextContainer button {
  width: 30%;
  height: 10%;
  font-size: 1.2em;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #292929;
  font-family: "Spectral", serif;
}

/* CSS for the trending section */

main {
  width: 100%;
  height: auto;
  border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#trendContainer {
  max-width: 1192px;
  padding: 3% 0;
}

.trending {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.trending.logo {
  width: 100%;
  height: 6%;
  font-size: 0.8em;
  color: #191919;
  font-weight: bold;
  margin-left: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo p {
  margin-left: 10px;
}

.trendingArticle {
  width: 30%;
  height: 90px;
  margin: 10px;

  display: flex;
}

.rank {
  font-size: 1.8em;
  font-weight: 700;
  color: lightgray;
  padding-right: 10px;
}

.articleContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.authorProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pic {
  width: 25px;
  height: 25px;
  color: white;
  background-color: black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  font-size: 0.8em;
  font-weight: 400;
  margin-left: 5px;
}

.title {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3;
}

.articleContent > div {
  display: flex;
  justify-content: flex-start;
}

.date,
.duration {
  color: gray;
}

/* CSS for the article section */

#articleSection {
  max-width: 1192px;
  display: flex;
  flex-wrap: nowrap;
}

#articleSection article {
  display: flex;
  flex-wrap: nowrap;
}

.articleImg {
  width: 200px;
  height: 150px;
}
